<h1>Eat Da Burger</h1>

<form>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Example textarea</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
</form>

<button type="submit" class="btn btn-primary" id="submit">Submit</button>

<h2>Enter a burger you want to eat Click the "Submit" button</h2>