body {
   background-color: #49b78f52;
}

h1, h2 , .create-form, #createform {
    text-align: center;
}

#burgerpic {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#listId {
    display: block;
    margin-left: auto;
    margin-right: auto;

}